@page
@model RazorCustomer.Models.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
